{% extends "base.html" %}
{% load static %}

{% block page_title %}Shopping Cart{% endblock %}

{% block content %}
    <div class="container-fluid heading-container">
        <h1>Your Cart</h1>
        <hr>
    </div>
    <div class="container-fluid cart-container">
        <div class="row">
            <div class="col-12">
                
                {% if cart_items %}
                    <div class="table-responsive">
                        <table class="table table-sm table-borderless">
                            <thead>
                                <th scope="col">Product</th>
                                <th scope="col"></th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Price</th>
                            </thead>
                            <tbody>
                                {% for item in cart_items %}
                                <tr>
                                    <td>
                                        <img class="img-fluid h-50" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                    </td>
                                    <td>
                                        <span class="w-auto">{{ item.product.name }}</span>
                                    </td>
                                    <td>{{ item.quantity }}</td>
                                    <td>€{{ item.product.price }}</td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="5" class="text-right">
                                        <p>Subtotal: €{{ total }}</p>
                                        <p class="small">Shipping will be calculated at checkout</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-right">
                                        <a href="{% url 'products' %}" class="btn alt-btn"><i class="fas fa-chevron-left mr-1"></i>Keep Shopping</a>
                                        <a href="" class="btn accent-btn">Checkout</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <p class="text-center mt-5">There are no items in your Shopping Cart.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}