{% extends "base.html" %}
{% load static %}

{% block page_title %}Shopping Cart{% endblock %}

{% block content %}
    <div class="container-fluid heading-container">
        <h1>Your Cart</h1>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>Check if context processor is working by printing out the delivery threshold: {{ free_delivery_threshold }}</p>
                {% if cart_items %}
                    <div class="table-responsive"></div>
                {% else %}
                    <p class="text-center mt-5">There are no items in your Shopping Cart.</p>
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}