{% extends "base.html" %}
{% load static %}

{% block page_title %}Shopping Cart{% endblock %}

{% block content %}
    <div class="container-fluid heading-container">
        <h1>Your Cart</h1>
        <hr>
    </div>
    <div class="container-fluid cart-container">
        <div class="row">
            <div class="col-12">
                
                {% if cart_items %}
                    <div class="table-responsive">
                        <table class="table table-sm table-borderless">
                            <thead>
                                <th scope="col" class="d-none d-md-table-cell">Product</th>
                                <th scope="col" class="d-none d-md-table-cell"></th>
                                <th scope="col" class="d-none d-md-table-cell">Quantity</th>
                                <th scope="col" class="d-none d-md-table-cell">Price</th>
                            </thead>
                            <tbody>
                                {% for item in cart_items %}
                                <tr>
                                    <td>
                                        {% if item.product.image %}
                                        <img class="img-fluid h-50 d-none d-md-block" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                        {% else %}
                                        <img class="img-fluid h-50 d-none d-md-block" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                                        {% endif %}
                                    </td>
                                    <td>
                                        <span class="w-auto">{{ item.product.name }}</span>
                                    </td>
                                    <td>
                                        <form action="{% url 'adjust_cart' item.item_id %}" method="POST" class="form update-form_{{ item.item_id }}">
                                            {% csrf_token %}
                                            <div class="form-group w-75">
                                                <div class="input-group input-group_{{ item.item_id }}">
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty decrement-qty_{{ item.item_id }} btn btn-sm accent-btn"
                                                            data-item_id="{{ item.item_id }}">
                                                            <i class="fas fa-minus fa-sm"></i>
                                                        </button>
                                                    </div>
                                                    <input class="form-control form-control-sm qty_input id_qty_{{ item.item_id }}" type="number"
                                                        name="quantity" value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}">
                                                    <div class="input-group-append">
                                                        <button class="increment-qty increment-qty_{{ item.item_id }} btn btn-sm accent-btn"
                                                            data-item_id="{{ item.item_id }}">
                                                            <i class="fas fa-plus fa-sm"></i>
                                                        </button>
                                                    </div>
                                                    <div class="input-group-append ml-md-1">
                                                        <a class="update-item update-item_{{ item.item_id }} btn btn-sm accent-btn"
                                                            data-item_id="{{ item.item_id }}" data-toggle="tooltip" data-placement="top" title="Update Quantity">
                                                            <i class="far fa-check-circle fa-sm btn-font"></i>
                                                        </a>
                                                    </div>
                                                    <div class="input-group-append ml-md-1">
                                                        <a class="delete-item delete-item_{{ item.item_id }} btn btn-sm accent-btn"
                                                            data-item_id="{{ item.item_id }}" data-toggle="tooltip" data-placement="top" title="Remove from Cart">
                                                            <i class="far fa-trash-alt fa-sm btn-font"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </td>
                                    <td>€{{ item.product.price }}</td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="5" class="text-right">
                                        <p>Subtotal: €{{ total }}</p>
                                        <p class="small">Shipping will be calculated at checkout</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-right">
                                        <a href="{% url 'products' %}" class="btn alt-btn"><i class="fas fa-chevron-left mr-1"></i>Keep Shopping</a>
                                        <a href="{% url 'checkout' %}" class="btn accent-btn">Checkout</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <p class="text-center mt-5">There are no items in your Shopping Cart.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}