{% extends "base.html" %}
{% load static %}

{% block page_title %}Home{% endblock %}

{% block home_active %} active{% endblock %}
{% block home_current %}<span class="sr-only">(current)</span>{% endblock %}

{% block content %}
    <div class="jumbotron jumbotron-fluid"></div>
    <div class="container main-container">
        <h1>Latest Additions:</h1>
        <div class="row">
            <div class="row">
                {% if products %}
                    {% for product in products %}
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="card product-card my-2">
                            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top">
                            <div class="card-body text-center text-md-left">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-text">€{{ product.price }}</p>
                                <div class="text-center text-md-left">
                                    <a href="{% url 'product_detail' product.id %}" class="btn btn-primary accent-btn">More Info</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                <div class="col-12 text-center">
                    <p>No products found.</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}