{% extends "base.html" %}
{% load static %}

{% block page_title %}Home{% endblock %}

{% block content %}
    <div class="jumbotron jumbotron-fluid"></div>
    <div class="container">
        <h1>Latest Additions:</h1>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card">
                    <img src="/media/brand-logo.png" alt="Placeholder Image" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Product #1</h5>
                        <p class="card-text">€19.99</p>
                        <div class="text-center">
                            <a href="#" class="btn btn-primary product-btn">More Info</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card">
                    <img src="/media/brand-logo.png" alt="Placeholder Image" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Product #2</h5>
                        <p class="card-text">€19.99</p>
                        <div class="text-center">
                            <a href="#" class="btn btn-primary product-btn">More Info</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card">
                    <img src="/media/brand-logo.png" alt="Placeholder Image" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Product #3</h5>
                        <p class="card-text">€19.99</p>
                        <div class="text-center">
                            <a href="#" class="btn btn-primary product-btn">More Info</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card">
                    <img src="/media/brand-logo.png" alt="Placeholder Image" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Product #4</h5>
                        <p class="card-text">€19.99</p>
                        <div class="text-center">
                            <a href="#" class="btn btn-primary accent-btn">More Info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}