{% extends "base.html" %}
{% load static %}

{% block page_title %}Profile{% endblock %}

{% block profile_active %} active{% endblock %}
{% block profile_current %}<span class="sr-only">(current)</span>{% endblock %}

{% block content %}
    <div class="container-fluid heading-container">
        <h1>Profile</h1>
        <hr>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-7">{{ profile }}</div>
            <div class="col-12 col-md-5">Order history</div>
        </div>
    </div>
{% endblock %}