/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&family=Ovo&family=Roboto&display=swap');

/* Variables */
:root {
    --main-bg-color: #fafafa;
    --secondary-bg-color: #3d2f55;
    --main-font-color: #1c1a1a;
    --main-font-highlight: rgba(28, 26, 26, 0.75);
    --secondary-font-color: #fafafa;
    --accent-color-light: #476154;
    --accent-color-dark: #1a3020;
    --main-title-font: 'Ovo';
    --secondary-title-font: 'Goudy Bookletter 1911';
    --general-use-font: 'Roboto';
    --bootstrap-success: #5cb85c;
    --bootstrap-warning: #ffc107;
    --bootstrap-error: #dc3545;
    --bootstrap-info: #17a2b8;
}

/* General */
html, body {
    height: 100%;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    font-family: var(--general-use-font);
}

h1, h2, h3 {
    font-family: var(--main-title-font);
}

h4, h5 {
    font-family: var(--secondary-title-font);
}

.navbar {
    font-family: var(--main-title-font);
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.2);
}

.navbar-nav .nav-item .nav-link {
    color: var(--main-font-color);
}

.active {
    font-weight: bold;
}

.bg-light {
    background-color: var(--main-bg-color);
}

.search-icon,
.btn-font {
    color: var(--secondary-font-color);
}

.dropdown-menu {
    background-color: var(--main-bg-color);
    border: none;
}

.heading-container {
    margin-top: 5.8rem;
}

.sub-heading {
    font-family: var(--secondary-title-font);
    font-weight: bold;
}

.accent-btn {
    color: var(--secondary-font-color);
    background-color: var(--accent-color-dark);
    border-color: var(--accent-color-light);
}

.accent-btn:hover,
.accent-btn:active,
.accent-btn:focus {
    background-color: var(--accent-color-light);
    border-color: var(--accent-color-dark);
}

.alt-btn {
    color: var(--accent-color-dark);
    border-color: var(--accent-color-dark);
}

.alt-btn:hover,
.alt-btn:active,
.alt-btn:focus {
    color: var(--secondary-font-color);
    background-color: var(--accent-color-light);
    border-color: var(--accent-color-dark);
}

.blog-container,
.main-container,
.catalog-container,
.cart-container,
.comment-container {
    padding-bottom: 6rem;
}

#toTopBtn {
    position: fixed;
    bottom: 4rem;
    right: 1rem;
    border: 0;
    border-radius: 50%;
    padding: 0;
    z-index: 1000;
    display: none;
    cursor: pointer;
}

#toTopBtn i {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    padding-top: .5rem;
    font-size: 2rem;
    color: var(--secondary-font-color);
    background-color: var(--secondary-bg-color);
}

.nav-icon {
    color: var(--main-font-color);
}

.nav-icon:hover,
.nav-icon:active,
.nav-icon:focus {
    color: var(--main-font-highlight);
}

body > footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--accent-color-dark);
    color: var(--secondary-font-color);
    z-index: 999;
}

.social-links {
    padding-top: .2rem;
    padding-right: .5rem;  
}

.social-links li a {
    color: var(--secondary-font-color);
}

.social-links li a:hover,
.social-links li a:focus,
.social-links li a:active {
    background-color: var(--accent-color-dark);
    opacity: .3;
}

.social-links li a i {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--accent-color-light);
    text-align: center;
    padding: .5rem 0;
}

/* Toasts */
.message-container {
    position: fixed;
    top: 5.25rem;
    right: .1rem;
    z-index: 999999999999;
}

.cart-details {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.toast-success,
.toast-warning,
.toast-error,
.toast-info {
    overflow: visible;
}

.toast-success {
    border: 2px outset var(--bootstrap-success);
}

.toast-warning {
    border: 2px outset var(--bootstrap-warning);
}

.toast-error {
    border: 2px outset var(--bootstrap-error);
}

.toast-info {
    border: 2px outset var(--bootstrap-info);
}

.toast-header strong .fa-check {
    color: var(--bootstrap-success);
}

/* Home */
.jumbotron {
    margin-top: 5.3rem;
    height: 25vh;
    background: url('/media/hero-image-sm.png') no-repeat center;
}

/* Allauth */
.allauth-container {
    margin-top: 5.8rem;
}

.login p label[for='id_login'],
.login p label[for='id_password'] {
    display: none;
}

#id_login,
#id_password,
.signup p input,
.change_passwd form p input,
.password_change p input {
    width: 90%;
}

.signup p label,
.password_reset p label,
.change_passwd form p label,
.password_change p label {
    display: none;
}

/* Catalog */
.catalog-container {
    padding-bottom: 10rem;
}

.product-card {
    background-color: var(--main-bg-color);
    border: none;
}

.add-post-link,
.add-product-link {
    color: var(--accent-color-dark);
}

.add-post-link:focus,
.add-post-link:hover,
.add-product-link:focus,
.add-product-link:hover {
    color: var(--accent-color-light);
}

/* Product Detail */
.product-detail-container {
    padding-bottom: 10rem;
}

/* Order Confirmed */
.order-confirmed-img {
    height: 60px;
    width: 60px;
}

.order-confirmed-card {
    background-color: var(--main-bg-color);
}

.checkout-success-container {
    padding-bottom: 8rem;
}

/* Checkout / Stripe Elements */
.StripeElement,
.stripe-style-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  -webkit-box-shadow: 0 1px 3px 0 #e6ebf1;
          box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  -webkit-transition: -webkit-box-shadow 150ms ease;
  transition: -webkit-box-shadow 150ms ease;
  -o-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease, -webkit-box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  -webkit-box-shadow: 0 1px 3px 0 #cfd7df;
          box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::-webkit-input-placeholder {
    color: #aab7c4;
}

.stripe-style-input::-moz-placeholder {
    color: #aab7c4;
}

.stripe-style-input:-ms-input-placeholder {
    color: #aab7c4;
}

.stripe-style-input::-ms-input-placeholder {
    color: #aab7c4;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.order-fields select,
.order-fields select option {
    color: var(--main-font-color);
}

.order-fields select:invalid,
.order-fields select option[value=""] {
    color: #aab7c4 !important;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: var(--main-font-color);
    border: 1px solid var(--main-font-color);
}

#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(71, 97, 84, 0.5);
    z-index: 999999;
}

.loading-spinner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    height: 100%;
    color: var(--secondary-bg-color);
}

/* Profiles */
#profile-update-form .form-control {
    color: #000;
}

#profile-update-form input::-webkit-input-placeholder {
    color: #aab7c4;
}

#profile-update-form input::-moz-placeholder {
    color: #aab7c4;
}

#profile-update-form input:-ms-input-placeholder {
    color: #aab7c4;
}

#profile-update-form input::-ms-input-placeholder {
    color: #aab7c4;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

/* Site Admin Forms */
.add-post-form label,
.add-product-form label {
    font-family: var(--secondary-title-font);
    font-size: 125%;
}

.add-post-container,
.add-product-container {
    padding-bottom: 10rem;
}

/* Media Queries */
@media screen and (min-width: 767px) {
    .jumbotron {
        margin-top: 4.4rem;
        height: 70vh;
        background: url('/media/hero-image.png') no-repeat center;
    }

    .allauth-container {
        margin-top: 5.3rem;
    }

    .message-container{
        right: 2rem;
    }

    #id_login,
    #id_password,
    .signup p input,
    .change_passwd form p input,
    .password_change p input {
        width: 75%;
    }
}

@media screen and (min-width: 1023px) {
    .jumbotron {
        margin-top: 3.8rem;
    }

    #id_login,
    #id_password,
    .signup p input,
    .change_passwd form p input,
    .password_change p input {
        width: 50%;
    }

    .dropdown-menu {
        border: 1px solid rgba(0, 0, 0, 0.15);
    }

    .checkout-success-container {
        padding-bottom: 6rem;
    }

    .comment-container {
        padding-bottom: 10rem;
    }
}