/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&family=Ovo&family=Roboto&display=swap');

/* Variables */
:root {
    --main-bg-color: #fafafa;
    --secondary-bg-color: #3d2f55;
    --main-font-color: #1c1a1a;
    --secondary-font-color: #fafafa;
    --accent-color-light: #476154;
    --accent-color-dark: #1a3020;
    --main-title-font: 'Ovo';
    --secondary-title-font: 'Goudy Bookletter 1911';
    --general-use-font: 'Roboto';
}

/* General */
html, body {
    height: 100%;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    font-family: var(--general-use-font);
}

h1 {
    font-family: var(--main-title-font);
}

h5 {
    font-family: var(--secondary-title-font);
}

.navbar {
    font-family: var(--main-title-font);
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.2);
}

.navbar-nav .nav-item .nav-link {
    color: var(--main-font-color);
}

.active {
    font-weight: bold;
}

.bg-light {
    background-color: var(--main-bg-color);
}

body > footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--accent-color-dark);
    color: var(--secondary-font-color);
}

.social-links {
    padding-top: .2rem;
    padding-right: .5rem;  
}

.social-links li a {
    color: var(--secondary-font-color);
}

.social-links li a:hover,
.social-links li a:focus,
.social-links li a:active {
    background-color: var(--accent-color-dark);
    opacity: .3;
}

.social-links li a i {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--accent-color-light);
    text-align: center;
    padding: .5rem 0;
}

/* Home */
.jumbotron {
    margin-top: 5.3rem;
    height: 25vh;
    background: url('/media/hero-image-sm.png') no-repeat center;
}

.accent-btn {
    background-color: var(--accent-color-dark);
    border-color: var(--accent-color-light);
}

.accent-btn:hover,
.accent-btn:active,
.accent-btn:focus {
    background-color: var(--accent-color-light);
    border-color: var(--accent-color-dark);
}

/* Allauth */
.allauth-container {
    margin-top: 5.8rem;
}

.login p label[for='id_login'],
.login p label[for='id_password'] {
    display: none;
}

#id_login,
#id_password,
.signup p input,
.change_passwd form p input,
.password_change p input {
    width: 90%;
}

.signup p label,
.password_reset p label,
.change_passwd form p label,
.password_change p label {
    display: none;
}

/* Media Queries */
@media screen and (min-width: 767px) {
    .jumbotron {
        margin-top: 4.4rem;
        height: 70vh;
        background: url('/media/hero-image.png') no-repeat center;
    }

    .allauth-container {
        margin-top: 5.3rem;
    }

    #id_login,
    #id_password,
    .signup p input,
    .change_passwd form p input,
    .password_change p input {
        width: 75%;
    }
}

@media screen and (min-width: 1023px) {
    .jumbotron {
        margin-top: 3.8rem;
    }

    #id_login,
    #id_password,
    .signup p input,
    .change_passwd form p input,
    .password_change p input {
        width: 50%;
    }
}