{% extends "base.html" %}
{% load static %}

{% block page_title %}Add a Blog Post{% endblock %}

{% block content %}
<div class="container-fluid heading-container">
    <h1>Add a Blog Post</h1>
    <hr>
</div>
<div class="container blog-container">
    <form action="" method="POST" enctype="multipart/form-data" class="form blog-form">
        
        <div class="text-right">
            <a href="{% url 'blog' %}" class="btn alt-btn"><i class="far fa-times-circle"></i> Cancel</a>
            <button type="submit" class="btn accent-btn">Add Post</button>
        </div>
    </form>
</div>
{% endblock %}