{% extends "base.html" %}
{% load static %}

{% block page_title %}Blog{% endblock %}

{% block blog_active %} active{% endblock %}
{% block blog_current %}<span class="sr-only">(current)</span>{% endblock %}

{% block content %}
<div class="container-fluid heading-container">
    <div class="row">
        <div class="col-12 col-md-8">
            <h1>Blog</h1>
            <hr class="d-md-none">
        </div>
        <div class="col-12 col-md-4 my-md-auto text-center text-md-right">
            {% if request.user.is_superuser %}
                <a href="{% url 'add_post' %}" class="add-post-link"><h4><i class="fas fa-plus-circle mr-1"></i>Add a blog post</h4></a>
            {% endif %}
        </div>
    </div>
    <hr class="d-none d-md-block">
</div>
<div class="container blog-container">
    {% if first %}
        <div class="row">
            <div class="col-12 text-center mb-2">
                <a href="{% url 'blog_post' first.id %}">
                    {% if first.image %}
                    <img class="img-fluid mx-auto d-block" src="{{ first.image.url }}" alt="{{ first.title }}">
                    {% else %}
                    <img class="img-fluid mx-auto d-block" src="{{ MEDIA_URL }}noimage.png" alt="{{ first.title }}">
                    {% endif %}
                </a>
                <h4 class="mt-2">{{ first.title }}</h4>
                <p class="font-italic small">{{ first.created_on }}</p>
            </div>
        </div>
        <div class="row">
        {% for blogpost in blogposts %}
            <div class="col-12 col-md-6 text-center mt-md-1 mb-2">
                <a href="{% url 'blog_post' blogpost.id %}">
                    {% if blogpost.image %}
                    <img class="img-fluid mx-auto d-block" src="{{ blogpost.image.url }}" alt="{{ blogpost.title }}">
                    {% else %}
                    <img class="img-fluid mx-auto d-block" src="{{ MEDIA_URL }}noimage.png" alt="{{ blogpost.title }}">
                    {% endif %}
                </a>
                <h4 class="mt-2">{{ blogpost.title }}</h4>
                <p class="font-italic small">{{ blogpost.created_on }}</p>
            </div>    
        {% endfor %}
        </div>
    {% else %}
        <div class="row">
            <div class="col-12 mt-5 text-center">
                <h3>There are no Blog Posts.</h3>
                <p>Please check back later for updates.</p>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}