{% extends "base.html" %}
{% load static %}

{% block page_title %}Blog{% endblock %}

{% block blog_active %} active{% endblock %}
{% block blog_current %}<span class="sr-only">(current)</span>{% endblock %}

{% block content %}
<div class="container-fluid heading-container">
    <h1>{{ post.title }}</h1>
    <hr>
</div>
<div class="container blog-container">
    <div class="row">
        <div class="col-12 text-center mb-2">
            {% if post.image %}
            <img class="img-fluid mx-auto d-block" src="{{ post.image.url }}" alt="{{ post.title }}">
            {% else %}
            <img class="img-fluid mx-auto d-block" src="{{ MEDIA_URL }}noimage.png" alt="{{ post.title }}">
            {% endif %}
            <h4 class="mt-2">{{ post.title }}</h4>
            <p>
                <span class="font-weight-bold">By: </span><span class="font-italic small">{{ post.author.username }}</span><br>
                <span class="font-weight-bold">On: </span><span class="font-italic small">{{ post.created_on }}</span>
            </p>
            {% if request.user == post.author or request.user.is_superuser %}
            <div class="text-center mt-2">
                <button class="btn alt-btn" data-toggle='modal' data-target='#deletePostModal'>Delete Post</button>
                <a href="{% url 'edit_post' post.id %}" class="btn accent-btn">Edit Post</a>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>{{ post.content|linebreaks }}</p>
            {% if post.updated_on|timesince != post.created_on|timesince %}
                <p class="font-italic small">Post updated on {{ post.updated_on }}</p>
            {% endif %}
        </div>
    </div>
</div>

<div class="container comment-container mt-2">
  {% if comments %}
    <div class="row">
      <div class="col-12">
        <h4 class="font-weight-bold">Comments <span class="text-muted font-weight-normal">({{ comments|length }})</span></h4>
        <hr>
      </div>
    </div>
    <div class="row">
        <div class="col-12">
          {% for comment in comments %}
            <div class="comments p-1">
              <p class="font-weight-bold">
                {{ comment.author }}
                <span class="text-muted font-weight-normal">
                  {{ comment.created_on }}
                </span>
              </p>
              {{ comment.body | linebreaks }}
            </div>
          {% endfor %}
        </div>
    </div>
  {% else %}
    <div class="col-12 text-center">
      <h4>Be the first to leave a comment!</h4>
    </div>
  {% endif %}
  {% if request.user.is_authenticated %}
    <div class="row mt-4">
      <div class="col-12">
        <h5 class="font-weight-bold">Add a Comment:</h5>
      </div>
      <div class="col-12">
        <form action="" method="POST" class="form">
          {% csrf_token %}
          {{ form|crispy }}
          <div class="text-right">
            <button type="submit" class="btn accent-btn">Add Comment</button>
          </div>
        </form>
      </div>
    </div>
  {% else %}
    <div class="row mt-5">
      <div class="col-12 text-center">
        <h4>Login <a href="{% url 'account_login' %}?next=/blog/post/{{post.id}}/">here</a> to leave a comment.</h4>
      </div>
    </div>
  {% endif %}
</div>

<!-- Delete Post Modal -->
<div class="modal fade" id="deletePostModal" tabindex="-1" role="dialog" aria-labelledby="deletePostModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deletePostModalLabel">Delete Blog Post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this Blog Post? Once completed, this cannot be reversed.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn alt-btn" data-dismiss="modal">Cancel</button>
          <a href="{% url 'delete_post' post.id %}" class="btn accent-btn">Delete Post</a>
        </div>
      </div>
    </div>
</div>
{% endblock %}