{% extends "base.html" %}
{% load static %}

{% block page_title %}Blog{% endblock %}

{% block blog_active %} active{% endblock %}
{% block blog_current %}<span class="sr-only">(current)</span>{% endblock %}

{% block content %}
<div class="container-fluid heading-container">
    <h1>Blog</h1>
    <hr>
</div>
<div class="container blog-container">
    {% if first %}
        <div class="row">
            <div class="col-12 text-center mb-2">
                {% if first.image %}
                <img class="img-fluid mx-auto d-block" src="{{ first.image.url }}" alt="{{ first.title }}">
                {% else %}
                <img class="img-fluid mx-auto d-block" src="{{ MEDIA_URL }}noimage.png" alt="{{ first.title }}">
                {% endif %}
                <h4 class="mt-2">{{ first.title }}</h4>
                <p class="font-italic small">{{ first.created_on }}</p>
            </div>
        </div>
        <div class="row">
        {% for blogpost in blogposts %}
            <div class="col-12 col-md-6 text-center mt-md-1 mb-2">
                {% if blogpost.image %}
                <img class="img-fluid mx-auto d-block" src="{{ blogpost.image.url }}" alt="{{ blogpost.title }}">
                {% else %}
                <img class="img-fluid mx-auto d-block" src="{{ MEDIA_URL }}noimage.png" alt="{{ blogpost.title }}">
                {% endif %}
                <h4 class="mt-2">{{ blogpost.title }}</h4>
                <p class="font-italic small">{{ blogpost.created_on }}</p>
            </div>    
        {% endfor %}
        </div>
    {% else %}
        <div class="row">
            <div class="col-12 mt-5 text-center">
                <h3>There are no Blog Posts.</h3>
                <p>Please check back later for updates.</p>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}