{% extends "account/base.html" %}

{% load i18n %}

{% block page_title %}Change Password{% endblock %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container-fluid allauth-container">
    <h1>Change yout Password</h1>
    <hr>
</div>

<div class="container text-center mt-5">
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action" class="btn btn-primary accent-btn">{% trans "Change Password" %}</button>
    </form>
</div>
{% endblock %}
