{% extends "base.html" %}
{% load static %}

{% block page_title %}Catalog{% endblock %}

{% block content %}
<div class="container-fluid heading-container">
    <h1>Add a Product</h1>
    <hr>
</div>
<div class="container add-product-container">
    <form action="" method="POST" enctype="multipart/form-data" class="form add-product-form">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-right">
            <a href="{% url 'products' %}" class="btn alt-btn"><i class="far fa-times-circle"></i> Cancel</a>
            <button type="submit" class="btn accent-btn">Add Product</button>
        </div>
        
    </form>
</div>
{% endblock %}