{% extends "base.html" %}
{% load static %}

{% block page_title %}Catalog{% endblock %}

{% block catalog_active %} active{% endblock %}
{% block catalog_current %}<span class="sr-only">(current)</span>{% endblock %}

{% block content %}
<div class="container-fluid heading-container">
    <h1>Catalog</h1>
    <hr>
</div>
<div class="container catalog-container">
    <div class="row">
        <div class="col-12 col-md-6 text-center text-md-left mb-2 mb-md-0">
            <h3>Products<small class="text-muted">({{ products|length }}):</small></h3>
            <div class="mb-2">
                <span class="sub-heading d-none d-md-inline">Categories:</span>
                {% if current_categories %}
                    {% for cat in current_categories %}
                        <a href="{% url 'products' %}?category={{ cat.name }}" class="badge badge-pill badge-dark">{{ cat.friendly_name }}</a>
                    {% endfor %}
                    <span>|</span>
                    <a href="{% url 'products' %}" class="badge badge-pill badge-light">View All Products</a>
                {% else %}
                    <a href="{% url 'products' %}?category=rpg_dice" class="badge badge-pill badge-dark">RPG Dice</a>
                    <a href="{% url 'products' %}?category=bg_dice" class="badge badge-pill badge-dark">Boardgame Dice</a>
                    <a href="{% url 'products' %}?category=dice_masters" class="badge badge-pill badge-dark">Dice Masters</a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-3 text-center my-1">
            {% if request.user.is_superuser %}
                <span><h5><i class="fas fa-plus-circle mr-1"></i>Add a product</h5></span>
            {% endif %}
        </div>
        <div class="col-12 col-md-3 text-center my-1">
            <div>
                <span class="d-none d-lg-inline">Sort by:</span>
                <select id="sort-selector" class="">
                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                    <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (a-z)</option>
                    <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (z-a)</option>
                    <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low-high)</option>
                    <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high-low)</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        {% if products %}
            {% for product in products %}
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card product-card my-2">
                    {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top">
                    {% else %}
                    <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}" class="card-img-top">
                    {% endif %}
                    <div class="card-body text-center text-md-left">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">€{{ product.price }}</p>
                        <div class="text-center text-md-left">
                            <a href="{% url 'product_detail' product.id %}" class="btn btn-primary accent-btn">More Info</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
        <div class="col-12 text-center">
            <p>No products found.</p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}